/* Basic CSS reset */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

/* General */
.container {
    margin-left: 10%;
    margin-right: 10%;
}

.flex {
    display: flex;
}

.h-center {
    justify-content: center;
}

.v-center {
    align-content: center;
}

.space-btwn {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-block {
    display: block;
}

/* Calculator Body */
#calculator-body {
    margin-top: 50px;
    height: 80vh;
    width: 30vw;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;

}

/* Answer Screen */
#answer-screen {
    margin: 18px;
    height: 25%;
    border: 2px solid black;
    /* border-radius: 20px; */
    background-color: white;
}

#result {
    font-size: 7rem;
    float: right;
    margin: 20px 10px 0 10px;
}

/* Keypad */
#keypad {
    margin: 0px 18px;
    height: 65%;
    border: 2px solid white;
    
     
}

.btn {
    color: white;
    font-size: 48px;
    background-color: black;
    width: 25%;
    text-align: center;
    border: 2px solid white;
    cursor: pointer;
}

.action-btn {
    background-color: #0477BF;
}

#clear-btn {
    background-color: #D90416;
}

#equals-btn {
    width: 100%;
}