/* Basic CSS reset */
html {
    box-sizing: border-box;
    font-size: 16px;
    /* overflow: hidden; */
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

/* General */
.container {
    margin-left: 10%;
    margin-right: 10%;
}

.flex {
    display: flex;
}

.h-center {
    justify-content: center;
}

.v-center {
    align-content: center;
}

.space-btwn {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-block {
    display: block;
}

/* Calculator Body */
#calculator-body {
    margin-top: 50px;
    height: 80vh;
    width: 30vw;
    /* min-width: 400px; */
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
}

/* Answer Screen */
#answer-screen {
    margin: 18px;
    padding-right: 5px;;
    height: 21%;
    background-color: white;
}

#display-value {
    font-size: 7rem;
    float: right;
}

/* Keypad */
#keypad {
    margin: 0px 18px;
    height: 70%;
}

.btn {
    color: white;
    font-size: 48px;
    background-color: rgba(169, 169, 169, 0.74);
    width: 25%;
    text-align: center;
    border: 3px solid black;
    cursor: pointer;
}

.action-btn {
    background-color: #0477BF;
}

#clear-btn {
    background-color: #D90416;
}

#equals-btn {
    width: 100%;
}